# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Testing / Coverage
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# SonarQube
.scannerwork/
